<%= form_with(model: channel, local: true) do |form| %>
  
  <div class="field">
   
    <%= form.label :Channel_Name %>&nbsp&nbsp&nbsp<br>
    <%= form.text_field :ch_name %><br><br>
    <%= form.label :Purpose %><br>
    <%= form.text_field :purpose %><br><br>
     
    <%= form.submit t('channels.edit.updatechannel'), class: "btn btn-primary" %> 
  </div>
  <% end %>